@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('idroid.otf');
}

:root{
    --cor0: rgb(213, 241, 213);
    --cor1: rgb(149, 255, 149); 
    --cor2: rgb(55, 255, 55);
    --cor3: rgb(0, 179, 0);
    --cor4: rgb(0, 100, 0);
    --cor5: rgb(0, 51, 0);

    --fontes-padrao: arial,verdana, helvetica, sans-serif;
    --fontes-destaque:'bebas neue', 'cursive';
    --fonte-android:'Android', 'cursive';
}

body{
    background-color: var(--cor0);
    font-family: var(--fontes-padrao);
}
a.externo::after{
    content: '\1F517';
}
header{
    background-color: var(--cor4);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    background-image: linear-gradient(to bottom,var(--cor3),var(--cor5));
}
header  > h1{
    color: white;
    font-size: 3em;
    font-family: var(--fontes-destaque);
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.63);
}
header > h2{
    color:white;
    font-size: 1.2em;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    font-family: var(--fontes-padrao);
}
main h1{
    font-family: var(--fonte-android);
    color: var(--cor4);
 font-size: 1.2em; 
 text-align: center;  
}
main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
 font-size: 1.2em;   
 background-image: linear-gradient(to right, var(--cor1), transparent);
 text-indent: 8px;
 border-radius: 100px;
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom:30px ;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:15px  ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);
}
main  p{
    margin: 30px 0px  ;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.4em;
    font-size: 1.1em;
}
div.video{
    background-color: var(--cor5);
    margin: -0px -20px 30px -20px;
    position: relative;
    padding:20px;
    padding-bottom: 40%;
}
div.video > iframe{
    position: absolute;
    top: 5% ;
    left: 5%;
    width: 90%;
    height:90% ;
}
main strong{
   
    color: var(--cor5);
    padding: 2px 1px;
    border-radius: 3px;
    text-shadow: 2px 2px 2px rgba(31, 30, 30, 0.616);

}
main a{
     text-decoration: none;
     font-weight: bold;
     color: var(--cor5); 
     padding: 2px 5px ;
     border-radius: 3px;
    background-color: var(--cor1);

}
main A:hover{
    text-decoration: underline;
    color: var(--cor3);
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 18px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.342);
}
aside h3{
    background-color: var(--cor4);
    padding: 10px;
    margin: -10px -10px -0px -10px;
    border-radius: 10px 10px 0px 0px;
    color: white;
}
aside ul{
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 6px;
}
footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}
*{
  margin: 0px;
  padding: 0px;  
}
img{
    width: 100%;
    margin: auto;
}
nav{
background-color: var(--cor5); 
padding: 10px;
}
nav > a{
   color: white;
    padding: 30px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;

}
nav > a:hover{
background-color: var(--cor4);
color: black;
transition-duration: .5s;
border-radius: 4px;
}
